@page
@model trackinger.Pages.Notification.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].NotificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Bug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Assignee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notification) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bug.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee.Login)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
