@page
@model trackinger.Pages.Bugs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bug</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Title)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Priority)
        </dd>
        <dt class="col-sm-2">
            <a asp-page="../Users/Details" asp-route-id="model.Bug.CreatorId">
                @Html.DisplayNameFor(model => model.Bug.Creator)
            </a>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Creator.Login)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Bug.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>