@page
@model trackinger.Pages.Bugs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Creator)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="../Users/Details" asp-route-id="@Model.Bug.CreatorId">
                @Html.DisplayFor(model => model.Bug.Creator.Login)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bug.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>