@page
@model trackinger.Pages.Bugs.IndexModel

@{
    ViewData["Title"] = "Bugs";
}

<h1>Bugs</h1>

<p>
    <a asp-page="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CreationDateSort">
                    @Html.DisplayNameFor(model => model.Bug[0].CreationDate)
                </a>
            </th>            
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Bug[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DescriptionSort">
                    @Html.DisplayNameFor(model => model.Bug[0].Description)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PrioritySort">
                    @Html.DisplayNameFor(model => model.Bug[0].Priority)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CreatorSort">
                    @Html.DisplayNameFor(model => model.Bug[0].Creator)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-page="../Users/Details" asp-route-id="@item.CreatorId">
                   @Html.DisplayFor(modelItem => item.Creator.Login)
                </a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
